@import "tailwindcss";

/* In your global CSS or index.css */
:root {
  color-scheme: dark;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-eb-garamond: var(--font-eb-garamond)
}


html, body, #root {
  --background: #000000 !important;  min-height: 100vh;
}

/* Ensure it works in both color scheme preferences */
@media (prefers-color-scheme: light) {
  html, body, #root {
  --background: #000000 !important;  }
}

@media (prefers-color-scheme: dark) {
  html, body, #root {
    --background: #000000  !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f4c726; /* Font colour of the foreground? */
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --foreground: #f4c726; /* Font colour of the foreground? */
  }
}

@font-face {
  font-family: 'Flagflies';
  src: url('/Flagfies.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif, serif;
}

.box-title {
  margin-top: 40px;
  padding: 2 4px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #edc160;
  background-color: #8f4806;
  max-width: 360px;
  position: relative;
  z-index: 1;
}
.garamond-title {
  font-family: "Flagflies", serif;
  font-weight: 200;
  color: #edc160;
  font-size: x-large;
  text-shadow: 2px 2px 2px #8f3c72;
  z-index: 1;
}
.garamond {
  font-family: "Flagflies", serif;
  font-weight: 200;
  color: #f4c726;
  font-size: large;
  text-shadow: 2px 2px 2px #8f3c72 
}
.box-text {
  padding: 2 4px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #80d9f4;
  background-color: #cf79b4;
  max-width: 360px;
  z-index: 2;
}
.box {
  padding: 2 4px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #80d9f4;
  background-color: #cf79b4; 
  z-index: 1;
}
.box-loading {
  padding: 2 4px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #80d9f4;
  background-color: gray;
  z-index: 1;
}

.box:hover:not(:disabled) {
  background-color: #67154c;
  color: #f4c726
}

.blue-color { 
  border-color: #80d9f4;
}

.box:disabled {  
  background-color: gray;
  cursor: not-allowed;
  color: #ccc;
  z-index: 1;
}
.background {
  z-index: 0;
  background-image: url("/background.jpg");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 100%;
  left: 50%;                  /* Center horizontally */
  top: 0;
  transform: translateX(-50%);
}
.photo {
  width: 100%;          /* or a fixed width, e.g. 300px */
  max-width: 360px;     /* optional max width */
  height: auto;         /* keep aspect ratio */
  object-position: center; /* center the image */
  border-radius: 12px;  /* if you want rounded corners */
  box-shadow: 0 4px 6px #67154c;
  border: 2px solid #80d9f4;
  padding-top: 10px;
  margin-left: -5px;
  z-index: 1;
}

.circle_1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(201, 187, 187);
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.circle_1:hover:not(:disabled) {
  background-color: white;
  color: #8f4806
}

.camera {
  background-image: url("/camera.png");
  background-size: contain;       /* Ensures full image fits */
  background-repeat: no-repeat;   /* Prevents tiling */
  background-position: center;    /* Center the image */
  width: 70px;
  height: 70px;
  border: solid;
  border-color: #213e9f;
  filter: invert(1);
  z-index: 1;
}
